<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Регистрация пользователя</title>
</head>
<body>
<h1>Добавить пользователя</h1>
<form method="post">
    Логин: <input type="text" name="username" required><br>
    Пароль: <input type="password" name="password" required><br>
    Роль:
    <select name="role">
        <option value="master">Мастер</option>
        <option value="manager">Менеджер</option>
        <option value="director">Директор</option>
        <option value="creator">Создатель</option>
    </select><br>
    <button type="submit">Добавить</button>
</form>
</body>
</html>
